# Port to run the server on (default is 3000)
PORT=3000

# Admin panel login credentials
# Option 1: Plain text (e.g. ADMIN_USERNAME_HASH=admin)
# Option 2: SHA-256 hash (e.g., using `echo -n "myPassword" | sha256sum` or any online SHA256 generator)
ADMIN_USERNAME_HASH=admin
ADMIN_PASSWORD_HASH=change_this_password

# Discord User ID for live status & Spotify widget tracking
DEFAULT_DISCORD_ID=1025531959736860714
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=

# Optional: Last.fm username for 24/7 background music scrobble & top tracks sync
LASTFM_USERNAME=
